<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html" lang="es">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8">
<title>PRACTICA SISTEMAS DOS</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all"
	rel="stylesheet" type="text/css">
<link
	th:href="@{/admin/css/global/plugins/font-awesome/css/font-awesome.min.css }"
	rel="stylesheet" type="text/css">
<link
	th:href="@{/admin/css/global/plugins/simple-line-icons/simple-line-icons.min.css }"
	rel="stylesheet" type="text/css">
<link
	th:href="@{/admin/css/global/plugins/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
<link
	th:href="@{/admin/css/global/plugins/uniform/css/uniform.default.css}"
	rel="stylesheet" type="text/css">
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
<link th:href="@{/admin/css/global/plugins/jqvmap/jqvmap/jqvmap.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{/admin/css/global/plugins/morris/morris.css}"
	rel="stylesheet" type="text/css">
<!-- END PAGE LEVEL PLUGIN STYLES -->
<!-- BEGIN PAGE STYLES -->
<!-- <link  th:href="@{/admin/css/admin/pages/css/tasks.css}"   rel="stylesheet" type="text/css"/> -->
<!-- END PAGE STYLES -->
<!-- BEGIN THEME STYLES -->
<!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
<link th:href="@{/admin/css/global/css/components-md.css}"
	id="style_components" rel="stylesheet" type="text/css">
<link th:href="@{/admin/css/global/css/plugins-md.css}" rel="stylesheet"
	type="text/css">
<link th:href="@{/admin/css/admin/layout3/css/layout.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{/admin/css/admin/layout3/css/themes/default.css}"
	rel="stylesheet" type="text/css" id="style_color">
<link th:href="@{/admin/css/admin/layout3/css/custom.css}"
	rel="stylesheet" type="text/css">
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body class="page-md">
	
	<div th:replace="/views/admin/layout/header :: header"></div>
	<div th:replace="/views/admin/layout/menu :: menu"></div>
		
		<!-- BEGIN PAGE CONTAINER -->
		<div class="page-container">
			<!-- BEGIN PAGE HEAD -->
			<div class="page-head">
				<div class="container">
					<!-- BEGIN PAGE TITLE -->
					<div class="page-title">
						<h1>
							Dashboard <small>statistics & reports</small>
						</h1>
					</div>
					<!-- END PAGE TITLE -->
					<!-- BEGIN PAGE TOOLBAR -->
					<div class="page-toolbar">
						<!-- BEGIN THEME PANEL -->
						<div class="btn-group btn-theme-panel">
							<a href="javascript:;" class="btn dropdown-toggle"
								data-toggle="dropdown"> <i class="icon-settings"></i>
							</a>
							<div
								class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<h3>THEME COLORS</h3>
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-12">
												<ul class="theme-colors">
													<li class="theme-color theme-color-default"
														data-theme="default"><span class="theme-color-view"></span>
														<span class="theme-color-name">Default</span></li>
													<li class="theme-color theme-color-blue-hoki"
														data-theme="blue-hoki"><span class="theme-color-view"></span>
														<span class="theme-color-name">Blue Hoki</span></li>
													<li class="theme-color theme-color-blue-steel"
														data-theme="blue-steel"><span
														class="theme-color-view"></span> <span
														class="theme-color-name">Blue Steel</span></li>
													<li class="theme-color theme-color-yellow-orange"
														data-theme="yellow-orange"><span
														class="theme-color-view"></span> <span
														class="theme-color-name">Orange</span></li>
													<li class="theme-color theme-color-yellow-crusta"
														data-theme="yellow-crusta"><span
														class="theme-color-view"></span> <span
														class="theme-color-name">Yellow Crusta</span></li>
												</ul>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<ul class="theme-colors">
													<li class="theme-color theme-color-green-haze"
														data-theme="green-haze"><span
														class="theme-color-view"></span> <span
														class="theme-color-name">Green Haze</span></li>
													<li class="theme-color theme-color-red-sunglo"
														data-theme="red-sunglo"><span
														class="theme-color-view"></span> <span
														class="theme-color-name">Red Sunglo</span></li>
													<li class="theme-color theme-color-red-intense"
														data-theme="red-intense"><span
														class="theme-color-view"></span> <span
														class="theme-color-name">Red Intense</span></li>
													<li class="theme-color theme-color-purple-plum"
														data-theme="purple-plum"><span
														class="theme-color-view"></span> <span
														class="theme-color-name">Purple Plum</span></li>
													<li class="theme-color theme-color-purple-studio"
														data-theme="purple-studio"><span
														class="theme-color-view"></span> <span
														class="theme-color-name">Purple Studio</span></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12 seperator">
										<h3>LAYOUT</h3>
										<ul class="theme-settings">
											<li>Theme Style <select
												class="theme-setting theme-setting-style form-control input-sm input-small input-inline tooltips"
												data-original-title="Change theme style"
												data-container="body" data-placement="left">
													<option value="boxed" selected="selected">Square
														corners</option>
													<option value="rounded">Rounded corners</option>
											</select>
											</li>
											<li>Layout <select
												class="theme-setting theme-setting-layout form-control input-sm input-small input-inline tooltips"
												data-original-title="Change layout type"
												data-container="body" data-placement="left">
													<option value="boxed" selected="selected">Boxed</option>
													<option value="fluid">Fluid</option>
											</select>
											</li>
											<li>Top Menu Style <select
												class="theme-setting theme-setting-top-menu-style form-control input-sm input-small input-inline tooltips"
												data-original-title="Change top menu dropdowns style"
												data-container="body" data-placement="left">
													<option value="dark" selected="selected">Dark</option>
													<option value="light">Light</option>
											</select>
											</li>
											<li>Top Menu Mode <select
												class="theme-setting theme-setting-top-menu-mode form-control input-sm input-small input-inline tooltips"
												data-original-title="Enable fixed(sticky) top menu"
												data-container="body" data-placement="left">
													<option value="fixed">Fixed</option>
													<option value="not-fixed" selected="selected">Not
														Fixed</option>
											</select>
											</li>
											<li>Mega Menu Style <select
												class="theme-setting theme-setting-mega-menu-style form-control input-sm input-small input-inline tooltips"
												data-original-title="Change mega menu dropdowns style"
												data-container="body" data-placement="left">
													<option value="dark" selected="selected">Dark</option>
													<option value="light">Light</option>
											</select>
											</li>
											<li>Mega Menu Mode <select
												class="theme-setting theme-setting-mega-menu-mode form-control input-sm input-small input-inline tooltips"
												data-original-title="Enable fixed(sticky) mega menu"
												data-container="body" data-placement="left">
													<option value="fixed" selected="selected">Fixed</option>
													<option value="not-fixed">Not Fixed</option>
											</select>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- END THEME PANEL -->
					</div>
					<!-- END PAGE TOOLBAR -->
				</div>
			</div>
			<!-- END PAGE HEAD -->
			<!-- BEGIN PAGE CONTENT -->






















			<div class="page-content">
				<div class="container">
				
				<div layout:fragment="content"></div>
				
				
				</div>
			</div>
			<!-- END PAGE CONTENT -->
		</div>
		<!-- END PAGE CONTAINER -->
		
		<div th:replace="/views/admin/layout/footer :: footer"></div>
		
		
		<!-- BEGIN JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) -->
		<!-- BEGIN CORE PLUGINS -->
		<!--[if lt IE 9]>
<script src="/admin/css/global/plugins/respond.min.js"></script>
<script src="/admin/css/global/plugins/excanvas.min.js"></script> 
<![endif]-->
		<script src="/admin/css/global/plugins/jquery.min.js"
			type="text/javascript"></script>
		<script src="/admin/css/global/plugins/jquery-migrate.min.js"
			type="text/javascript"></script>
		<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
		<script src="/admin/css/global/plugins/jquery-ui/jquery-ui.min.js"
			type="text/javascript"></script>
		<script src="/admin/css/global/plugins/bootstrap/js/bootstrap.min.js"
			type="text/javascript"></script>
		<script
			src="/admin/css/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
			type="text/javascript"></script>
		<script
			src="/admin/css/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
			type="text/javascript"></script>
		<script src="/admin/css/global/plugins/jquery.blockui.min.js"
			type="text/javascript"></script>
		<script src="/admin/css/global/plugins/jquery.cokie.min.js"
			type="text/javascript"></script>
		<script src="/admin/css/global/plugins/uniform/jquery.uniform.min.js"
			type="text/javascript"></script>
		<!-- END CORE PLUGINS -->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<script src="/admin/css/global/plugins/jqvmap/jqvmap/jquery.vmap.js"
			type="text/javascript"></script>
		<script
			src="/admin/css/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js"
			type="text/javascript"></script>
		<script
			src="/admin/css/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js"
			type="text/javascript"></script>
		<script
			src="/admin/css/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js"
			type="text/javascript"></script>
		<script
			src="/admin/css/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js"
			type="text/javascript"></script>
		<script
			src="/admin/css/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js"
			type="text/javascript"></script>
		<script
			src="/admin/css/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js"
			type="text/javascript"></script>
		<!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
		<script src="/admin/css/global/plugins/morris/morris.min.js"
			type="text/javascript"></script>
		<script src="/admin/css/global/plugins/morris/raphael-min.js"
			type="text/javascript"></script>
		<script src="/admin/css/global/plugins/jquery.sparkline.min.js"
			type="text/javascript"></script>
		<!-- END PAGE LEVEL PLUGINS -->
		<!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/admin/css/global/scripts/metronic.js"
			type="text/javascript"></script>
		<script src="/admin/css/admin/layout3/scripts/layout.js"
			type="text/javascript"></script>
		<script src="/admin/css/admin/layout3/scripts/demo.js"
			type="text/javascript"></script>
		<!-- <script src="/admin/pages/scripts/index3.js" type="text/javascript"></script> -->
		<!-- <script src="/admin/pages/scripts/tasks.js" type="text/javascript"></script> -->
		<!-- END PAGE LEVEL SCRIPTS -->
		<script>
jQuery(document).ready(function() {    
   Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   Demo.init(); // init demo(theme settings page)
   //Index.init(); // init index page
   //Tasks.initDashboardWidget(); // init tash dashboard widget
});
</script>
		<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>