<div th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- BEGIN HEADER MENU -->
		<div class="page-header-menu">
			<div class="container">
				<!-- BEGIN HEADER SEARCH BOX -->
				<form class="search-form" action="extra_search.html" method="GET">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search"
							name="query"> <span class="input-group-btn"> <a
							href="javascript:;" class="btn submit"><i
								class="icon-magnifier"></i></a>
						</span>
					</div>
				</form>
				<!-- END HEADER SEARCH BOX -->
				<!-- BEGIN MEGA MENU -->
				<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
				<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
				<div class="hor-menu ">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">Principal</a></li>
						
						
						

						
						
						
						<li  th:each="modulo : ${session.modulosPorPerfil}" class="menu-dropdown mega-menu-dropdown ">
						
						
						<a	th:text="${modulo.nombre}" data-hover="megamenu-dropdown" data-close-others="true"	data-toggle="dropdown" href="javascript:;"
							class="dropdown-toggle">  <i class="fa" th:classappend="${modulo.icono}"></i>
						</a>
						
						
						
							<ul class="dropdown-menu" style="min-width: 710px">
								<li>
									<div class="mega-menu-content">
										<div class="row">
											<div class="col-md-4">
												<ul class="mega-menu-submenu">
													<th:block data-th-each="submodulo : ${session.submodulosPorPerfil}">
													<th:block data-th-if="${modulo.idmodulo} == ${submodulo.idmodulo}">
													<li>
														<a href="#" class="iconify" th:text="${submodulo.nombre}">
															<i th:classappend="icon-pencil"></i> 
														</a>
													</li>
													
												</ul>
											</div>


										</div>
									</div>
								</li>
							</ul>
							
							</li>
							
				</div>
			</div>
		</div>



		<!-- END HEADER -->
		
		
		
		
</div>