<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/views/admin/layout/layout}">
<body>
<div layout:fragment="content">

<!-- BEGIN PAGE BREADCRUMB -->
				<ul class="page-breadcrumb breadcrumb">
					<li><a href="#">Home</a><i class="fa fa-circle"></i></li>
					<li class="active">Dashboard</li>
				</ul>
				<!-- END PAGE BREADCRUMB -->
				<!-- BEGIN PAGE CONTENT INNER -->
				<div class="row margin-top-10">






					<div class="portlet light">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-cogs font-green-sharp"></i> <span
									class="caption-subject font-green-sharp bold uppercase">Simple
									Table</span>
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"> </a> <a
									href="#portlet-config" data-toggle="modal" class="config">
								</a> <a href="javascript:;" class="reload"> </a> <a
									href="javascript:;" class="remove"> </a>
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-scrollable">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>Docente</th>
											<th>Semestre Academico</th>
											<th>Horas Semanales</th>
										</tr>
									</thead>
									<tbody>
										


			<tr th:each="docente : ${listaDocente}">
							<td>1</td>
                            <td th:text="${docente.nombre}+${docente.apellido}"></td>
                           <td th:text="${docente.semenstreacademico.semestre}"></td> 
                            <td th:text="${docente.cargaacademica.numeroHorasSemanales}"></td>
<!--                             <td>
                            	<a class="btn btn-info">EDITAR</a>
								<a class="btn btn-danger">ELIMINAR</a>
							</td> -->

                        </tr>
                        
                        
                        
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>






				<!-- END SAMPLE FORM PORTLET-->



			</div>


		</div>
		<!-- END PAGE CONTENT INNER -->


</div>
</body>
</html>



